/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: hsl(0, 0%, 100%);
  --first-color-light: hsl(0, 0%, 100%);
  --first-color-alt: hsl(0, 0%, 100%);
  --second-color: hsl(0, 0%, 62%);
  --dark-color: hsla(0, 0%, 90%, 0);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsla(0, 0%, 90%, 0);
  --container-color: hsl(0, 0%, 75%);
  --hover-color: hsl(0, 0%, 45%); /* Cor para o efeito hover */
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 97%;
  height: auto;
  border-radius: 22.5px;
}

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 9rem;
  overflow: hidden;
}

.card__content {
  margin-inline: 1.8rem;
  border-radius: 1.8rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.5rem;
}

.card__img {
  width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  transition: transform 0.3s ease;
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
  transition: color 0.3s ease;
}

/*=============== HOVER EFFECTS ===============*/

.card__article:hover .card__img {
  transform: scale(1.04);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 4rem;
  color: var(--second-color);
  top: 22rem;
  transition: color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--hover-color); /* Cor ao passar o mouse */
}

.swiper-button-prev {
  left: -35;
}

.swiper-button-next {
  right: -35;
}

.swiper-pagination-bullet {
  background-color: hsl(0, 0%, 85%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 868px) {
  .card__content {
    margin-inline: 1rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1220px;
  }

  .swiper-button-prev {
    left: -0rem;
  }

  .swiper-button-next {
    right: -0rem;
  }
}
